@using Hudayim.Uyelik.Web.Startup
@using Hudayim.Uyelik.Web.Models.Gelirs
@model GelirViewModel
@{
	ViewBag.Title = L("IncomeManager");
	ViewBag.CurrentPageName = PageNames.Gelir;
}
@section scripts
{
	<environment names="Development">
		<script src="~/view-resources/Views/Gelir/Index.js" asp-append-version="true"></script>
	</environment>

	<environment names="Staging,Production">
		<script src="~/view-resources/Views/Gelir/Index.min.js" asp-append-version="true"></script>
	</environment>
}
<section class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<h1>@L("Incomes")</h1>
			</div>
			<div class="col-sm-6">
				<a class="btn bg-blue float-sm-right" asp-controller="Gelir" asp-action="Create">
					<i class="fa fa-plus-square"></i>
					@L("Create")
				</a>
			</div>
		</div>
	</div>
</section>
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-md-6">
								<!--Use for bulk actions-->
							</div>
							<div class="col-md-6">
								@await Html.PartialAsync("~/Views/Gelir/Index.AdvancedSearch.cshtml")
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table id="GelirTable" class="table table-striped table-bordered">
								<thead>
									<tr>
										<th></th>
										<th>@L("IncomeTypeName")</th>
										<th>@L("PeriodName")</th>
										<th>@L("UserName")</th>
										<th>@L("Name")</th>
										<th>@L("Amount")</th>
										<th>@L("PaymentDate")</th>
										<th style="width: 150px">@L("Actions")</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>